 <section class="container">
    <h2>Welcome {{username}}</h2>
    {{# if posts}}
    {{# each posts as |post|}}
    <div class="post-card">
        <h2>{{post.title}}</h2>
        <p>{{post.body}}</p>
        <p>{{post.created_at}}</p>
        <button class="edit-post-btn btn btn-primary" id="{{post.id}}">Edit Post</button>
    </div>
    {{/each}}
    {{else}}
    <h2>You dont have any posts!</h2>
    {{/if}}
    <div class="post-card">
        <h2>Make a post</h2>
        <form class="post-form">
            <label for="title">Title</label>
            <input type="text" name="title" id="title-post">
            <label for="body">Body</label>
            <input type="text" name="body" id="body-post">
            <button class="btn btn-primary"type="submit">Submit</button>
        </form>
    </div>
 </section>
<script src="/js/dashboard.js"></script>
